*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

p {
  overflow-wrap: break-word;
}

/* svg {
    background-color: ;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  background: #F7F7F7;
  font-family: "Source Sans Pro";
  font-style: normal;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

summary::-webkit-details-marker {
  display: none;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
  padding: 0 10px;
}

[class*=__block] {
  margin-left: auto;
  margin-right: auto;
}

.fs-regular {
  font-size: 16px;
}

/* --------------------- */
.header {
  width: 100%;
  height: 69px;
  background: #F7F7F7;
  border: 2px solid #F0F0F0;
  position: fixed;
  z-index: 100;
  top: 0;
}

.header__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  flex-basis: 179px;
  flex-grow: 1;
}

.header__nav {
  flex-grow: 3;
  height: 100%;
}

.nav__btn {
  display: none;
}

.mob_nav {
  display: none;
}

.menu__list {
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__item {
  margin-right: 16px;
}

.menu__item:hover {
  border-bottom: 2px solid #008981;
}

.menu__item:hover .menu__link {
  color: #008981;
}

.menu__link {
  display: block;
  color: #8C8C8C;
  text-align: center;
  font-weight: 600;
  line-height: 23px;
  padding: 23px 10px;
}

.menu__link:visited {
  color: #8C8C8C;
}

.header__button {
  flex-grow: 1;
}

.login__button {
  display: flex;
  margin-left: auto;
  background: #F0F0F0;
  border-radius: 10px;
  padding: 13px 35px;
}

.login__button:hover {
  background: #EAEAEA;
  transition: 0.3s;
}

.login__link {
  font-family: "Source Sans Pro";
  font-style: normal;
  display: block;
  font-weight: 600;
  line-height: 23px;
  color: #000;
  width: 100%;
  height: 100%;
}

.login__link img {
  margin-left: 12px;
}

/* ---------------------------- */
.description__container {
  margin-bottom: 48px;
  position: relative;
  z-index: 1;
}

.text__block {
  position: relative;
  display: block;
  /* width: 921px; */
  /* height: 244px; */
  left: 0px;
  z-index: 2;
  margin-top: 224px;
}

.text__main {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #313131;
}

.mask_early_pathology_detection {
  background-image: url(./img/early_pathology_detection.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub__text {
  margin-top: 24px;
  font-weight: 400;
  line-height: 23px;
  color: #353535;
  width: 771px;
}

.background__graphic__element {
  position: absolute;
  background-image: url(./img/background_clouds.png);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  /* background-size: 100%; */
  /* height: 548.2875366210938px;
  width: 592.2442016601562px; */
  width: 100%;
  height: 1000px;
  /* width: auto;
  height: auto; */
  right: 0px;
  top: 0px;
  z-index: 0;
}

.background__graphic__vector {
  position: absolute;
  background-repeat: no-repeat;
  top: 80px;
  right: 80px;
  animation: rotate 125s infinite linear;
  overflow-x: hidden;
  box-sizing: border-box;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(359deg);
  }
}
.background__blur__1 {
  position: absolute;
  width: 399.56px;
  height: 312.71px;
  right: 214.44px;
  top: 213.58px;
}

.background__blur__1 object {
  filter: blur(164.089px);
}

.background__blur__2 {
  position: absolute;
  width: 399.56px;
  height: 312.71px;
  right: 47px;
  top: 356px;
}

.background__blur__2 object {
  filter: blur(135.658px);
}

.description__buttons__block {
  display: flex;
  margin-top: 48px;
}

.btn {
  display: flex;
  padding: 16px 48px;
  background: #008981;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  min-width: 220px;
}

.try__button {
  margin-right: 16px;
}

.try__button:hover {
  background: #156863;
  transition: 0.3s;
}

.try__link {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.manual__button {
  display: flex;
  width: 263px;
  height: 57px;
  background: #FFFFFF;
  /* border: 1px solid #008981; */
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.manual__link {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  color: #008981;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manual_link_icon {
  display: inline-block;
  margin-left: 12px;
  margin-top: 4px;
}

.manual__button:hover {
  background: #156863;
  transition: 0.3s;
}

.manual__button:hover .manual__link {
  color: #FFFFFF;
  transition: 0.3s;
}

.manual__link:hover .manual_link_icon_path {
  fill: #FFFFFF;
  transition: 0.3s;
}

/* ------------------------- */
#hiw {
  padding-top: 72px;
}

.separation__block {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1180px;
}

.separation__heading {
  color: #008981;
  border-radius: 40px;
  background: rgba(0, 137, 129, 0.1);
  padding: 10px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.separation__main__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #313131;
  margin: 16px 10px 24px 10px;
  text-align: center;
  width: 70%;
}

.separation__subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #353535;
  margin-left: 10px;
  margin-right: 10px;
}

.mask_try_to_use {
  background-image: url(./img/try_to_use.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -------------------------- */
.viewer__container {
  display: flex;
  gap: 31px;
  margin-bottom: 90px;
  margin-top: 64px;
}

.choose__module {
  width: 30%;
}

.accuracy__description {
  display: flex;
  gap: 16px;
  align-items: center;
}

.accuracy__description__item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.small__circle {
  width: 14.14px;
  height: 14.14px;
  border-radius: 100%;
  background: #008981;
}

.module_accuracy_item > .small__circle {
  background: #B0B0B0;
  width: 12px;
  height: 12px;
}

.accuracy_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.small_triangle {
  transform: scale(0.9);
  fill: #B0B0B0;
}

.small__square {
  width: 12.19px;
  height: 12.19px;
  background: #008981;
  border-radius: 1px;
}

.module_accuracy_item > .small__square {
  background: #B0B0B0;
  width: 12px;
  height: 12px;
}

.module_list {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.module_item {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  padding: 14px;
  cursor: pointer;
  /* Shadow */
  box-shadow: 0px 0px 25px rgba(243, 243, 243, 0.11);
  border-radius: 14px;
}

.module_item:hover {
  background: #F2F2F2;
}
.module_name {
  color: #353535;
  line-height: 22px;
}
.module_text {
  display: none;
}

.module_active {
  background: #008981;
  color: #fff;
}

.module_active:hover {
  background: #008981;
}

.module_active .module_name {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
}

.module_active .module_accuracy_item {
  color: #C5EEEC;
}

.module_active .module_text {
  margin-top: 8px;
  display: none;
}

.module_active .small__circle, .module_active .small__square {
  background: rgba(255, 255, 255, 0.5);
}

.module_active .small_triangle {
  fill: rgba(255, 255, 255, 0.5);
}

.module_accuracy {
  margin-top: 6px;
  display: flex;
  gap: 8px;
}

.module_accuracy_item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A5A5A5;
}

.view_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 800px;
}

.viewer {
  display: block;
  height: 100%;
  background: #262626;
  box-shadow: 0px 3.43958px 17.1979px rgba(0, 0, 0, 0.05);
  border-radius: 17.1979px;
}

.view_images {
  height: 100%;
  position: relative;
  display: none;
}

#view_lumbar_spine img {
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
}

.view_images_active {
  display: block;
}

.view_image:last-child {
  opacity: 0;
}

.view_image {
  position: absolute;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: 1s;
}

.markup_btn {
  background: #F0F0F0;
  color: #353535;
  border-radius: 10px;
  padding: 16px 48px;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
}

.markup_btn:hover {
  background: #EAEAEA;
  transition: 0.3s;
}

/* -------------------------- */
.about_us__block {
  padding: 72px 0px;
  background: rgba(23, 85, 81, 0.04);
  display: flex;
  justify-content: center;
}

.about_us__button {
  margin-top: 32px;
  width: 217px;
  height: 51px;
  background: #008981;
  border-radius: 10px;
}

.about_us__button:hover {
  background: #156863;
  transition: 0.3s;
}

.about_us__link {
  padding-top: 13px;
  display: block;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.about_us__link img {
  margin-left: 8px;
}

.mask_unique_ai_framework {
  background-image: url(./img/unique_ai_framework.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mask_already_helping {
  background-image: url(./img/already_helping.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -------------------------- */
.ourgoal__container {
  margin: 56px auto 18px auto;
  height: 389px;
  padding-top: 48px;
  background-position: center;
  /* background-image:   */
  /* background-repeat: no-repeat; */
  background: linear-gradient(0deg, rgba(53, 87, 85, 0.5), rgba(53, 87, 85, 0.5)), url(./img/rentgenologist.png);
  background-size: cover;
  background-position: 0% 55%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourgoal__main__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  width: 537px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.ourgoal__subtext {
  width: 552px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 28px */
  text-align: center;
  color: #D7D7D7;
  margin-bottom: 32px;
}

.ourgoal__button {
  background: #008981;
  border-radius: 10px;
}

.ourgoal__button:hover {
  background: #156863;
  transition: 0.3s;
}

.ourgoal__link {
  display: block;
  font-family: "Source Sans Pro";
  font-style: normal;
  
  color: #FFFFFF;
}

/* -------------------------- */
#benefits {
  padding-top: 72px;
}

.benefit_cards__container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  gap: 40px;
  padding-bottom: 90px;
  justify-content: center;
}

.benefit_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 32px;
  width: 360px;
  height: 317px;
  background: #FFFFFF;
  box-shadow: 0px 0px 42px rgba(196, 196, 196, 0.1);
  border-radius: 40px;
}

.benefit_card_text_main {
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  margin-top: 24px;
  margin-bottom: 12px;
  color: #313131;
}

.benefit_card_subtext {
  font-weight: 400;
  line-height: 25px;
  color: #353535;
}

/* --------------------- */
.capabilities__block {
  background: rgba(23, 85, 81, 0.04);
  padding-top: 72px;
}

.mask_different_pathologies {
  background-image: url(./img/10_different_pathologies.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------------------- */
.capabilities__container {
  padding-bottom: 72px;
}

.capabilities__cards {
  margin-top: 64px;
  margin-bottom: 74px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.capabilities__card {
  width: 260px;
}

.capability_illustration {
  height: 246px;
  background: rgba(0, 137, 129, 0.1);
  border-radius: 30px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capability_illustration img {
  max-width: 100%;
  max-height: 100%;
}

.capability_main_text {
  margin-top: 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #151515;
}

.capabiliti_subtext {
  margin-top: 8px;
  font-weight: 400;
  line-height: 25px;
  color: #353535;
}

/* ------------------- */
.scenarious__block {
  padding-top: 90px;
}

.scenarious__container {
  padding-top: 56px;
  padding-bottom: 18px;
}

.scenarios__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.scenarios__item:last-child {
  border-bottom: none;
}

.scenarious_head {
  margin: auto;
}

.scenarios__header {
  padding: 8px 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #313131;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scenarios__content {
  margin-top: -10px;
  padding-bottom: 24px;
  font-weight: 400;
  line-height: 25px;
  color: #353535;
  width: 70%;
}

.plus__circle {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  cursor: pointer;
  padding-top: 15px;
}

.plus__circle:hover,
.plus_svg {
  background: #008981;
  transition: 0.3s;
}

.plus__circle:hover .plus_svg {
  fill: #FFFFFF;
  transition: 0.3s;
}

.plus__circle svg {
  display: block;
  margin: auto;
  transition: 0.1s ease-in;
}

.plus_svg {
  fill: #008981;
}

.scenarios__item[open] .plus__circle svg {
  transition: 0.1s ease-in;
  transform: rotate(45deg);
}

.mask_consist_of_professionals {
  background-image: url(./img/consist_of_professionals.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---------------------------------- */
/* #team {
    padding-top: 72px;
}

#team, .team__container {
    display: none;
}

.team__switcher {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.switcher {
    padding: 12px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(243, 243, 243, 0.11);
    border-radius: 13px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #008981;
    cursor: pointer;
    transition: .4s;
}

.switcher:hover {
    background: #008981;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s;

}

.switcher__active {
    background: #008981;
    color: #FFFFFF;
    cursor: pointer;
}

.team__cards {
    margin-top: 44px;
    margin-bottom: 93px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.team_cards_mob {
    display: none;
}
.team__cards__hidden{
    display: none;

}

.team__card {
    width: 260px;
}

.team__image {
    width: 260px;
    height: 260px;
    border-radius: 30px;
    background-color: #151515;
}

.team_main_text {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 24px;
    color: #313131;
}

.team__subtext {
    font-weight: 400;
    line-height: 25px;
    margin-top: 8px;
    color: #353535;
} */
.mask_believe_in_ai {
  background-image: url(./img/believe_in_ai.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -------------------------- */
.form__container {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  margin-bottom: 88px;
}

.contacts {
  display: flex;
  flex-direction: column;
  background: #008981;
  background-image: url(./img/contacts_background.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  flex-basis: 460px;
  box-shadow: 0px 0px 18px rgba(0, 137, 129, 0.2);
  border-radius: 20px;
  /* padding-top: 32px;
  padding-left: 40px; */
  padding: 32px 35px 32px 40px;
}

.contacts div:last-of-type {
  margin-top: auto;
}

/* .contacts__background{
    position: relative;
    top: 0px;
    right: 0px;
    height: 359px;
    width: 243px;
    background-image: url(contacts_background.png);
    background-repeat: no-repeat;
    /* background-position: 0px 0px; */
.contacts__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}

.contacts__description {
  font-weight: 400;
  line-height: 23px;
  margin-top: 8px;
  color: #C5EEEC;
}

.contacts__list {
  margin-top: 24px;
}

.contacts__item {
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.contacts__item:last-child {
  align-items: flex-start;
}

.contacts__item img {
  margin-right: 12px;
}

.contacts__footer {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.download__link {
  margin-top: 24px;
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

/* --------------------- */
.form__block {
  width: 500px;
  background: #FFFFFF;
  box-shadow: 0px 0px 42px rgba(196, 196, 196, 0.1);
  border-radius: 30px;
  flex-grow: 1;
  padding: 32px 40px;
}

.form__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #151515;
}

.form__description {
  font-weight: 400;
  line-height: 23px;
  color: #353535;
  max-width: 385px;
}

textarea {
  resize: none;
  overflow: scroll;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.flexcont {
  display: flex;
  gap: 18px;
}

.form__group {
  flex-grow: 1;
  display: flex;
  position: relative;
  padding: 6px 0 0;
  border-bottom: 1.5px solid #9b9b9b;
  width: -moz-min-content;
  width: min-content;
}

.form__group:focus-within {
  border-bottom: 1.5px solid #008981;
  transition: border-color 0.2s;
}

.form__field {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: #212121;
  padding-top: 10px;
  padding-bottom: 7px;
  background: #FFFFFF;
  caret-color: #008981;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__label {
  background-color: #FFFFFF;
  width: 100%;
}

.form__field:-moz-placeholder-shown ~ .form__label {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  font-size: 16px;
  cursor: text;
  top: 20px;
}

.form__field:placeholder-shown ~ .form__label {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  font-size: 16px;
  cursor: text;
  top: 20px;
}

.form__label, .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  font-weight: 600;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #9b9b9b;
}

.form__field:focus ~ .form__label {
  color: #009788;
}

.form_btn_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.terms {
  width: 50%;
  margin-right: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8C8C8C;
}

.form__button {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: #008981;
  border-radius: 10px;
  padding: 13px 48px;
  max-height: 48px;
  cursor: pointer;
  width: 290px;
  margin: 0 auto;
  text-align: center;
}

.form__button:hover {
  background: #156863;
  transition: 0.3s;
}

.footer {
  background: #fff;
  height: 253px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_logo {
  width: 193px;
  margin-bottom: 32px;
}

.nav_item {
  padding: 10px;
}

.footer_nav {
  width: 100%;
  margin-bottom: 40px;
}

.footer_list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #353535;
  white-space: nowrap;
}

.footer_link:hover {
  color: #008981;
  transition: 0.2s;
}

.copyrights {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #353535;
}

@media (max-width: 1440px) {
  .header__container {
    padding: 0 10px;
  }
  .view_container {
    min-height: auto;
  }
}
@media (max-width: 1200px) {
  .ourgoal__container {
    margin: 56px 10px 18px 10px;
  }
  .viewer {
    padding: 10px;
  }
}
@media (max-width: 1080px) {
  .view_image {
    margin: auto;
    height: auto;
    top: 0;
    bottom: 0;
  }
  .background__graphic__vector {
    width: 480px;
    right: 60px;
  }
}
@media (max-width: 960px) {
  .fs-regular {
    font-size: 16px;
  }
  .background__graphic__element {
    background-size: 70%;
  }
  .background__graphic__vector {
    width: 420px;
  }
  .text__block {
    margin-top: 150px;
  }
  [class*=__container] {
    max-width: 940px;
  }
  [class*=__block] {
    max-width: 940px;
  }
  .menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__link {
    padding: 0;
  }
  .header__button {
    margin-left: 20px;
  }
  .choose__module {
    width: 32%;
  }
  .separation__heading {
    font-size: 18px;
  }
  
  .ourgoal__link {
    font-size: 16px;
  }
  .benefit_cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .benefit_card {
    width: auto;
  }
  .capabilities__cards {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    margin-bottom: 47px;
  }
  .capabilities__card {
    max-width: 220px;
    width: auto;
  }
  .capability_illustration {
    max-height: 220px;
  }
  .capability_main_text {
    font-size: 20px;
    line-height: 28px;
  }
  .capabiliti_subtext {
    line-height: 22px;
  }
  .scenarious__block {
    padding-top: 17px;
  }
  .scenarious__container {
    padding-top: 56px;
  }
  .scenarios__header {
    font-size: 24px;
  }
  /* #team, .team__container {
      display: none;
  }
  .team__cards {
      display: flex;
      justify-content: center;
  }
  .team__cards__hidden {
      display: none;
  } */
  .contacts {
    padding: 20px 17px 25px 40px;
  }
  .form__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    gap: 20px;
  }
  .form__block {
    width: auto;
  }
  .contacts {
    padding: 32px;
  }
  .contacts__header {
    font-size: 20px;
  }
  .contacts__list {
    margin-top: 16px;
  }
  .contacts__footer {
    font-size: 20px;
  }
  .form__field_select {
    font-size: 16px;
  }
  .form__label_select, .form__field_select:focus ~ .form__label_select {
    position: absolute;
    top: -15px;
    font-weight: 600;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: #9b9b9b;
  }
  .form__field_select:focus ~ .form__label_select {
    color: #009788;
  }
}
@media (max-width: 860px) {
  .background__graphic__vector {
    width: 380px;
  }
  .viewer__container {
    flex-direction: column;
  }
  .accuracy__description {
    display: none;
  }
  .choose__module {
    width: 100%;
  }
  .module_list {
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .module_item {
    min-width: 300px;
  }
  /* .module_active .module_text {
      display: none;
  } */
  .viewer {
    height: 447px;
  }
  .view_image {
    width: auto;
  }
}
@media (max-width: 778px) {
  .background__graphic__vector {
    width: 350px;
    right: 42px;
  }
  .header__nav,
  .header__button {
    display: none;
  }
  .nav__btn {
    display: block;
    cursor: pointer;
  }
  .mob_nav {
    display: none;
    z-index: 2;
    background: #fff;
  }
  .mob_nav_item {
    background: rgba(23, 85, 81, 0.04);
    padding: 10px 0;
  }
  .menu__link:hover {
    color: #008981;
    transition: 0.2s;
  }
  .sub__text {
    width: autof;
  }
}
@media (max-width: 640px) {
  [class*=__container] {
    max-width: 620px;
  }
  [class*=__block] {
    max-width: 620px;
  }
  button {
    padding: 13px 49px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text__main {
    font-size: 36px;
  }
  .sub__text {
    width: 80%;
    margin-top: 16px;
  }
  
  .background__graphic__element {
    width: 820px;
    right: 0px;
  }
  .background__graphic__vector {
    width: 320px;
    right: 50px;
    top: 90px;
  }
  /*  */
  .module_item {
    min-width: 170px;
  }
  .module_name {
    font-size: 16px;
  }
  .accuracy_title {
    font-size: 12px;
  }
  .viewer {
    height: 334px;
  }
  .markup_btn {
    width: 100%;
  }
  /*  */
  .separation__heading {
    font-size: 16px;
  }

  .separation__main__text {
    font-size: 30px;
    line-height: 36px;
    width: auto;
    margin-bottom: 15px;
  }

  .ourgoal__main__text {
    width: 80%;
    font-size: 36px;
    line-height: 36px;
  }
  .benefit_cards__container {
    margin-top: 40px;
    padding-bottom: 10px;
  }
  .benefit_card {
    padding: 24px;
  }
  .separation__main__text {
    line-height: 38px;
  }
  .capabilities__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .capabilities__card {
    max-width: none;
  }
  .scenarios__header {
    font-size: 20px;
    line-height: 28px;
  }
  .scenarios__header {
    padding: 24px 0;
  }
  .form__container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  .contacts {
    flex-basis: auto;
    height: auto;
  }
  .contacts div:last-of-type {
    margin-top: 24px;
  }
  
}
@media (max-width: 492px) {
  .background__graphic__vector {
    top: 140px;
    width: 200px;
    right: 25px;
  }
  .text__main {
    font-size: 34px;
  }
  .ourgoal__container {
    padding: 0;
  }
  .ourgoal__main__text {
    font-size: 30px;
    width: 90%;
  }
  .ourgoal__subtext {
    width: 80%;
  }
  .ourgoal__container {
    background-position: 66%;
  }
  .benefit_cards__container {
    margin-top: 24px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 10px;
    justify-content: flex-start;
    padding-bottom: 56px;
  }
  .benefit_card {
    min-width: 302px;
    padding: 32px;
    border-radius: 16px;
  }
  .capabilities__cards {
    grid-template-columns: 1fr;
  }
  .capabilities__card {
    display: flex;
    flex-direction: row;
  }
  .capability_illustration {
    width: 50%;
  }
  .capabilities__text {
    margin-left: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .capabilities__container {
    padding-bottom: 48px;
  }
  .scenarios__header p {
    width: 75%;
  }
  .form__label_select, .form__field_select:focus ~ .form__label_select {
    top: -25px;
  }
  .flexcont_select_email {
    flex-direction: column;
  }
  .flexcont_select_email .form__group {
    height: auto;
    width: 100%;
  }
  .terms {
    width: 40%;
  }
  .form__button {
    width: 178px;
    padding: 10px 30px;
  }
  .contacts__description {
    width: 70%;
  }
  .footer_container {
    width: 80%;
  }
  .footer_list {
    flex-wrap: wrap;
  }
}
@media (max-width: 351px) {
  .form_btn_block {
    flex-direction: column-reverse;
  }
  .terms {
    margin: 0;
    width: 100%;
  }
  .form__button {
    margin-bottom: 24px;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .background__graphic__element {
    background-size: contain;
    width: 420px;
    right: 0px;
  }
  .background__graphic__vector {
    width: 150px;
    right: 0px;
    top: 80px;
    animation: none;
  }
  .fs-regular {
    font-size: 14px;
  }
  .text__main {
    font-size: 30px;
  }
  .header {
    height: 56px;
  }
  .header__logo img {
    width: 113px;
    height: 23px;
  }
  .header__logo {
    /* flex-basis: 113px; */
  }
  .text__block {
    margin-top: 88px;
    width: auto;
    height: auto;
  }
  .sub__text {

    line-height: 22px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .description__buttons__block {
    margin-top: 24px;
  }
  .description__container {
    margin-bottom: 56px;
  }
  .separation__block {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .separation__main__text {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
  }
  /* ----------------------- */
  /* 
      .viewer__container {
          margin-top: 32px;
          flex-direction: column;
          gap: 24px;
          margin-bottom: 56px;
      }
      .accuracy_title{
          font-size: 14px;
          line-height: 18px;
  }
      .module_list {
          flex-direction: row;
          overflow: scroll;
          gap: 11px;
          margin-top: 16px;
      }
      .module_item{
          border-radius: 12.4667px;
          padding: 10.6px 12.5px;
      }
      .module_name{
          font-size: 16px;
          line-height: 20px;
      }
      .viewer {
          height: 249px;

      }

      .choose__module {
          flex-basis: auto;
      } */
  /* -------------------------- */
  .about_us__block {
    padding: 56px 0 40px 0;
    height: auto;
  }
  .about_us__button {
    margin-top: 24px;
    width: 128px;
    height: 46px;
  }
  .about_us__link {
    padding-top: 15px;
    line-height: 18px;
  }
  .about_us__link img {
    width: 18px;
    margin-left: 4px;
  }
  .ourgoal__container {
    margin: 56px 10px 0 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    height: auto;
    border-radius: 20px;
  }
  .ourgoal__main__text {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
    width: auto;
  }
  .ourgoal__subtext {
    font-size: 14px;
    line-height: 20px;
    width: auto;
    margin-bottom: 24px;
  }
  .ourgoal__link {
    font-size: 14px;
    line-height: 18px;
  }
  #benefits {
    padding-top: 56px;
  }
  .benefit_cards__container {
    margin-top: 24px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 12px;
    justify-content: flex-start;
    padding-bottom: 56px;
  }
  .benefit_card {
    min-width: 262px;
    height: auto;
    padding: 20px;
    border-radius: 16px;
  }
  .benefit_card_text_main {
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 21px;
  }
  .benefit_card_subtext {
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
  }
  /*  */
  .capabilities__container {
    padding-bottom: 1px;
  }
  .capabilities__block {
    padding-top: 56px;
  }
  .capabilities__card {
    flex-direction: column;
  }
  .capabilities__text {
    width: 100%;
    margin: 0;
  }
  .capability_illustration {
    padding: 7.66px;
    height: auto;
    border-radius: 19.1538px;
  }
  .capability_illustration img {
    width: 150.68px;
    height: 141.74px;
  }
  .capability_main_text {
    margin-top: 12px;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 21px */
  }
  .capabiliti_subtext {
    line-height: 20px;
    margin-top: 6px;
  }
  /* -------------------------- */
  .scenarious_head {
    font-size: 22px;
    line-height: 28px;
    padding-left: 10px;
    margin: 0px;
  }
  .scenarious__block {
    padding-top: 56px;
  }
  .scenarious__container {
    padding-top: 32px;
    padding-bottom: 76px;
  }
  .scenarios__header {
    font-size: 18px;
    line-height: 20px;
    padding: 20px 0px;
  }
  .scenarios__content {
    line-height: 20px;
    padding-bottom: 20px;
  }
  .scenarios__item:last-child .scenarios__content {
    padding-bottom: 0px;
  }
  .scenarios__header p {
    width: 70%;
  }
  .plus__circle {
    margin-top: -7px;
    height: 29px;
    width: 29px;
    padding-top: 9px;
    align-self: flex-start;
  }
  .plus__circle svg {
    width: 11.56px;
    height: 12px;
  }
  /* --------------------- */
  /* .team__container {
      margin: 0;
  }
  #team {
      padding-top: 56px;
  }
  .team__switcher {
      padding-left: 10px;
      margin-top: 0;
      justify-content: flex-start;
  }

  .switcher {
      font-size: 14px;
      line-height: 18px;
  }
  .team__cards {
      display: none;
  }
  .team_cards_mob {
      display: block;
      margin: 32px 10px 78px 10px;

  }
  .team_cards_mob_hidden {
      display: none;
  }
  .cards_mob_imgs {
      gap: 8px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      height: 110px;
  }

  .cards_mob_img {
      width: 70px;
      height: 70px;
      opacity: .5;
      transition: .4s;

  }
  .active_team_img {
      width: 100px;
      height: 100px;
      opacity: 1;
  }
  .cards_mob_description {

  }
  .cards_mob_item {
      display: none;
  }
  .active_team_item {
      display: flex;
      flex-direction: column;

  }
  .team__cards {
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 32px;
      margin-bottom: 56px;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow: scroll;
      gap: 20px;
  }

  .team__image {
      width: 160px;
      height: 160px;
      border-radius: 21.8182px;
  }

  .team_main_text {
      margin-top: 14px;
      font-size: 18px;
      line-height: 26px;
  }

  .team__subtext {
      margin-top: 5px;
  } */
  /*  */
  .form__block {
    padding: 24px 16px;
  }
  .form__header {
    font-size: 16px;
  }
  .flexcont {
    flex-direction: column;
  }
  .form__group {
    height: auto;
    width: 100%;
  }
  .form__label_select {
    margin-top: 10px;
  }
  .contacts {
    padding: 32px 24px;
  }
  .contacts__description {
    width: 100%;
  }
  /*  */
  .footer_logo {
    width: 158px;
  }
  .footer_container {
    width: 90%;
  }
  .nav_item {
    padding: 5px;
  }
} /*# sourceMappingURL=style.css.map */